body {
	font-family: "EB Garamond", "Baskerville", serif;
	font-feature-settings: "liga" 1, "dlig" 1;
	max-width: 600px;
	margin: auto;
	margin-top: 100px;
}

/* hr {
	border: 1px solid #000000;
} */

p {
	font-size: 20px;
	letter-spacing: .25px;
	line-height: 34px;
	padding-top: 15px;
	padding-bottom: 15px;
}

article {
	margin-bottom: 75px;
}

h3 {
	font-size: 48px;
	letter-spacing: -1px;
	padding-bottom: 20px;
	font-weight: 500;
	font-style: italic;
}

footer {
	margin-bottom: 100px;
}

a {
	color: #000000;
	font-style: italic;
	text-decoration: underline;
}

blockquote {
	.quote { font-weight: 800;}
	padding-left: 15px;
	margin-left:40px;
	border-left: 1px solid;
}

cite {
	font-size: 18px;
	font-style: italic;
}

q {
	font-style: italic;
}

/* #button {
	font-size: 18px;
	background-color: #666666;
	border: none;
	border-radius: 10px;
	position: absolute;
	font-family: "helvetica", "Arial";
	font-style: normal;
	font-weight: medium;
	padding: 10px;
	color: white;
} */

#title {
	font-size: 84px;
	line-height: 95%;
	letter-spacing: -2px;
	font-weight: 500;
	font-style: italic;
	padding-top: 100px;
}

.ampersand {
	color: #e5000e;
}

.label {
	font-size: 18px;
	font-family: "helvetica", "Arial";
	font-weight: 200;
	letter-spacing: -0.5px;
	padding-top: 25px;
	padding-bottom: 45px;
	margin-bottom: 25px;
	color: #666666;
	border-bottom: 1px solid #000000;
}

.author {
	font-size: 14px;
	font-family: "helvetica", "Arial";
	font-weight: 200;
	padding-top: 25px;
	padding-bottom: 45px;
	color: #666666;
}

.quote {
	font-style: normal;
}

#foreword {
	border: 0px;
	margin-left: 0px;
	padding-left: 0px;
}

#coursename {
	font-size: 112px;
	line-height: 95%;
	letter-spacing: -2px;
	font-weight: 600;
	font-style: italic;
}

#introduction {
	color: #666666;
}

.buttons{
	display: flex;
}