body {
	font-family: EB Garamond, Baskerville, serif;
	max-width: 600px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
}

hr {
	border: 1px solid #000000;
}

p {
	font-size: 20px;
	line-height: 34px;
	letter-spacing: .25px;
	max-width: 65ch;
}

article {
	margin-bottom: 75px;
}

h3 {
	font-size: 48px;
	letter-spacing: -1px;
	font-weight: 600;
	font-style: italic;
}

footer {
	margin-bottom: 100px;
}

a {
	color: #000000;
	text-decoration:none;
}

blockquote {
	.quote { font-weight: 800;}
	padding-left: 15px;
	border-left: 1px solid;
}

cite {
	font-size: 18px;
}

.label {
	font-size: 14px;
	font-family: helvetica, Arial;
	color: #666666;
}

.ampersand {
	color: #e5000e;
}

#coursename {
	font-size: 112px;
	line-height: 95%;
	letter-spacing: -2px;
	font-style: italic;
}

#introduction {
	color: #666666;
}

#title {
	font-size: 64px;
	line-height: 95%;
	letter-spacing: -2px;
	font-weight: 600;
	font-style: italic;
}
